<footer class="footer">
    <div class="container">
        <div class="footer-title">
            Дошка оголошень
        </div>
    </div>
</footer>
<script src="/javascripts/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>
</body>

</html>