<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Board</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header class="header">
        <div class="container header-content">
            <h3 class="header-title">Дошка оголошень</h3>

            <a href="/" class="main-link">На головну</a>

            <ul class="menu">
                <% if(user.id && user.login) { %>
                <li class="menu-item">
                    <p>Вітаємо, <%=user.login %>
                </li>
                <% } else { %>
                <li></li>
                <% } %>
            </ul>
        </div>
    </header>
</body>

</html>